/* import files */
@import url("vars.css");
@import url("tabs.css");
@import url("webview.css");
@import url("urlBar.css");
@import url("vertAndHor_tabs.css");
@import url("container.css");
@import url("searchSuggestions.css");
@import url("linkStatus.css");

/* import fonts */


/* the rest */
* {
    margin: 0;
    padding: 0;
    font-family: "", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
}