#searchSuggestions {
    position: fixed;
    width: 60%;
    max-width: 1000px;
    background: var(--search-suggestions-bg);
    margin: 0 auto;
    user-select: none;
    left: 50%;
    transform: translateX(-50%);
}

#searchSuggestions .suggestion {
    padding: 10px;
    width: 100%;
    background: var(--suggestion-bg);
    z-index: 1;
}

#searchSuggestions .suggestion:hover {
    background: var(--suggestion-bg-hover);
}

#searchSuggestions .suggestion.active {
    background: var(--suggestion-active-bg);
}

#searchSuggestions .suggestion:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#searchSuggestions .suggestion.selected {
    background-color: var(--selected-suggestion-bg);
}