#tabs {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    border-bottom: 1px solid var(--tabs-border-bottom);
    padding: 4px 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: var(--tabs-container-bg);
}

.tab {
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-shrink: 0;
    background: var(--tab-bg);
    padding: 8px;
    border-radius: 5px;
    height: 20px;
    max-height: 20px;
    width: 230px;
    max-width: 230px;
    overflow: hidden;
    user-select: none;
    -webkit-app-region: no-drag;
    opacity: 0.5;
    transition: all 0.15s ease;
    font-size: 14px;
}

.tab:hover {
    opacity: 0.7;
}

.tab.active {
    opacity: 1;
}

.tab span {
    display: inline-flex;
    align-items: center;
}

.tab .favicon {
    margin-right: 0;
}

.tab .favicon img {
    width: 20px;
    height: 20px;
    transform: translateY(1px);
}

.tab .faviconSpinner {
    position: relative;
    width: 16px;
    height: 16px;
    overflow: hidden;
}

.tab .faviconSpinner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30%;
    width: 50%;
    height: 4px;
    background-color: #4a90e2;
    transform: translateY(-50%);
    animation: slideBackForth 1s ease-in-out infinite;
    border-radius: 2px;
}

@keyframes slideBackForth {
    0% {
        left: -30%;
    }
    50% {
        left: 80%;
    }
    100% {
        left: -30%;
    }
}

.tab .audioIcon {
    display: inline-flex;
    align-items: center;
    line-height: 0;
    transform: translateY(-1px);
}

.tab .title {
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
}