:root {
    --container-bg: #fffefe;
    --link-status-bg: #f0f0f0;
    --search-suggestions-bg: #f0f0f0;
    --suggestion-bg: #f0f0f0;
    --suggestion-bg-hover: #ababab;
    --suggestion-active-bg: #ababab;
    --tabs-bg: #fffefe;
    --tabs-container-bg: #e2e3e9;
    --tabs-border-bottom: #d3d3d3;
    --url-bar-border: #ccc;
    --tab-bg: white;
    --protocol-color: gray;
    --subdomain-color: gray;
    --subdomain-www-color: #1b1b1f;
    --domain-color: #1b1b1f;
    --trailing-color: gray;
    --selected-suggestion-bg: #e0e0e0;
}